body

.red_text{
    color:red
}
.text_center{
    text-align:center ;
}
.text_size24{
    font-size:24px
}

.boddy{
    text-align:center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aa{
    margin-left: 80px;
    text-align: left;
    margin-top: 75px;
}

.aaa{
    margin-top: 10px;
    text-align: left;
}

.a{
    margin-top: 10px;
    text-align: left;
    color: green;
}

.aaaa{
    margin-top: 10px;
    text-align: left;
    color: rgba(134, 134, 12, 0.637);
}

.aaaaa{
    margin-top: 10px;
    text-align: left;
    color:red;
}

.ots{
    margin-top: 100px;
}

.obv{
    background: linear-gradient(white, #FAEBD7);
}

a:hover{
    color: wheat;
}

ul{
    list-style: none;
    margin: 0;
    padding: 20px;
}

a{
    font-size: 30px;
    padding: 20px;
    color: #b8b8b8;
    text-decoration: none;
    
}

li{
    display: inline;
}

.fat{
    font-size:24px;
}

/*
margin - отступ элемента от других
margin-top: 24px- отступ сверху
margin-bottom снизу
margin-left слева
margin-right права
text-align:center - позиция текста
color:white цвет текста
background-color: while - цвет фона элемента
background-image: src("")
border: 1px solid black - обводка границ элемента
border-radius: 10px - закругление краев элемента
padding: 0px 4px 0px 4px внутренний отступ элемента
padding-bottom
padding-top
padding-left
padding-right

*/